<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Practice</title>
</head>
<body>
    <h1>Database</h1>
 
    <br>
    <!-- Submit button -->
    <form action="/" method="post">
        <input name="usernamee" style="width: 200px; height: 30px; border-radius: 4px;" type="text" placeholder="Enter Name">
        <input type="submit" value="Button" 
        style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">
    </form>

    <h2>Your name is <%= arr.at(-1).usernamee %>.</h2>
    <br>
    <br>

</body>
</html>